/* You can add global styles to this file, and also import other style files */
:root
{
    --text-col: #2A9D8F;
    --bg-col: #264653;
    --err-col: #E76F51;
    --ok-col: #8AB17D;
    --det-col: #F4A261;
    --red-col: #D7431D;
    --green-col: #8AB17D;
    --darkErr-col: #B43718;
    --textToOk-col: #5AA786;
    --logo-col: #E4804A;

}

body
{
    padding: 0;
    margin: 0;
    width: 100svw;
    min-height: 89svh;
    background: linear-gradient(to right, var(--text-col), var(--bg-col));
    overflow: hidden;
    /* background-image: url("./assets/home3.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
}

*::-webkit-scrollbar
{
    display: none;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
